<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="lib/fontawesome-free/css/all.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="lib/adminlte/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="lib/overlayScrollbars/css/OverlayScrollbars.min.css">  
    <!-- DataTables -->
    <link rel="stylesheet" href="lib/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="lib/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <title>Dashboard</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('../partials/dashboard/_header')%>
        <%- include('../partials/dashboard/_sidebar')%>
        <%- body %>
        <%- include('../partials/dashboard/_footer')%>
    </div>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="lib/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>    
    <!-- Bootstrap 4 -->
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="lib/adminlte/js/adminlte.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="lib/datatables/jquery.dataTables.min.js"></script>
    <script src="lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="lib/jszip/jszip.min.js"></script>
    <script src="lib/pdfmake/pdfmake.min.js"></script>
    <script src="lib/pdfmake/vfs_fonts.js"></script>
    <script src="lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#table").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
        });
    </script>
</body>

</html>