<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/lib/select2/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/lib/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link type="text/css" href="/lib/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link type="text/css" href="/lib/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="/lib/adminlte/css/adminlte.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/lib/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

    <% if(active == 'book'){ %>    
    <!-- Filepond -->
    <link rel="stylesheet" href="https://unpkg.com/filepond@^4/dist/filepond.css"/>
    <link rel="stylesheet" href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"/>
    <% } %>

    <title>Dashboard</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('../partials/dashboard/_header')%>
        <%- include('../partials/dashboard/_sidebar')%>
        <%- body %>
        <%- include('../partials/dashboard/_footer')%>
    </div>

    <!-- jQuery -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/lib/jszip/jszip.min.js"></script>
    <script src="/lib/pdfmake/pdfmake.min.js"></script>
    <script src="/lib/pdfmake/vfs_fonts.js"></script>
    <script src="/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/lib/adminlte/js/adminlte.js"></script>
    <!-- Select2 -->
    <script src="/lib/select2/js/select2.full.min.js"></script>
    <!-- Toastr -->
    <script src="/lib/toastr/toastr.min.js"></script>
    <!-- InputMask -->
    <script src="/lib/moment/moment.min.js"></script>
    <script src="/lib/inputmask/jquery.inputmask.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="/lib/sweetalert2/sweetalert2.min.js"></script>
    <!-- Custom Javascripts -->
    <script defer src="/javascripts/dashboard/custom-button.js"></script>

    <% if(active == 'user'){ %>    
        <script src="/javascripts/dashboard/account/user/user.datatable.js"></script>
        <script src="/javascripts/dashboard/account/user/user.ajax.js"></script>
    <% } %>
    <% if(active == 'role'){ %>    
        <script src="/javascripts/dashboard/account/role/role.datatable.js"></script>
        <script src="/javascripts/dashboard/account/role/role.ajax.js"></script>
    <% } %>
    <% if(active == 'permission'){ %>    
        <script src="/javascripts/dashboard/account/permission/permission.datatable.js"></script>
        <script src="/javascripts/dashboard/account/permission/permission.ajax.js"></script>
    <% } %>
    <% if(active == 'author'){ %>    
        <script src="/javascripts/dashboard/book/author/author.datatable.js"></script>
        <script src="/javascripts/dashboard/book/author/author.ajax.js"></script>
    <% } %>
    <% if(active == 'category'){ %>    
        <script src="/javascripts/dashboard/book/category/category.datatable.js"></script>
        <script src="/javascripts/dashboard/book/category/category.ajax.js"></script>
    <% } %>
    <% if(active == 'book'){ %>    
        <!-- Filepond -->
        <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
        <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

        <script src="/javascripts/dashboard/book/book/book.datatable.js"></script>
        <script src="/javascripts/dashboard/book/book/book.ajax.js"></script>
        <script src="/javascripts/dashboard/book/book/book.fileUpload.js"></script>
    <% } %>
    <% if(active == 'lending_book'){ %>    
        <script src="/javascripts/dashboard/lending_book/lending_book.datatable.js"></script>
        <script src="/javascripts/dashboard/lending_book/lending_book.ajax.js"></script>
    <% } %>

</body>

</html>