<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/lib/fontawesome-free/css/all.min.css">
    <title>MyLibrary</title>
</head>
<body>
    <%- include('../partials/_header')%>
    <%- body %>
    <%- include('../partials/_footer')%>

    <!-- jQuery -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/lib/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Javascripts -->
    <script defer src="/javascripts/index.js"></script>
</body>
</html>