<form action="/dashboard/book/author" method="post" id="form-input" class="form-input-data">
    <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter author name">
    </div>
</form>