<main>
    <div class="container">
        <div class="row">
            <% for(book of books){ %>
            <div class="col-auto p-2">
                <%- include('../../partials/_book') %>
            </div>
            <% } %>
        </div>
        <%- include('../../partials/_pagination') %>
    </div>
</main>