<form action="/dashboard/book/category" method="post" id="form-input" class="form-input-data">
    <div class="form-group">
        <label for="name">Category</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter category name" />
    </div>
</form>