<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <% for(book of books){ %>
                    <%- include('../../partials/_book_item') %>
                <% } %>
            </div>
            <div class="col-4"></div>
        </div>
        <%- include('../../partials/_pagination') %>
    </div>
</main>